.credentials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentials {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.credentials button,
.credentials input,
.credentials .save-credentials {
  width: 100%;
  box-sizing: border-box;
}

.credentials .save-credentials {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: left;
  gap: 0.5em;
}

.save-credentials input {
  width: fit-content;
}
